section{
    height: 100%;
}

.logo-section{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A1E7ED;
}

.logo-section-big{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A1E7ED;
}

.btn-crear{ 
    width: 290px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px var(--greyish-brown);
}

.btn-register{
    width: 397px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--dark-sky-blue);
}

.avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
    }
}

.avatar-selected{
    background-color: #f49395;
}