<section *ngIf="!isRegister">
    <div class="logo-section">
        <img src="./assets/img/logo.svg" alt="">
    </div>
    <p class="text-center txt-browngrey"> Iniciar sesión con: </p>
    <div class="text-center">
        <button class="btn btn-circle fb-bg text-white"> Facebook </button>
    </div>
    <!-- Form -->
    <div class="container my-5">
        <form class="row">
            <div class="form-group col-12">
                <input type="email" class="form-control rounded" placeholder="Email">
            </div>
            <div class="form-group col-12">
                <input type="Password" class="form-control rounded" placeholder="Contraseña">
            </div>
            <div class="col-12 row m-0 align-items-center">
                <div class="col-6 small main-color"> Olvide mi contraseña </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-circle main-bg text-white"> Iniciar sesión </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <mat-divider></mat-divider>
    </div>
    <p class="text-center txt-browngrey mt-3"> ¿No tienes cuenta? </p>
    <div class="text-center">
        <button class="btn btn-crear" (click)="isRegister = true"> Crear Cuenta </button>
    </div>
</section>

<!-- Register -->

<section *ngIf="isRegister">
    <div class="logo-section-big">
        <img src="./assets/img/logo.svg" alt="logo">
    </div>
    <div class="col-12 row m-0 align-items-center">
        <div class="col-3">
            <a (click)="isRegister = false"> <img src="./assets/img/btnRegresarAzul.svg" alt=""> </a>
        </div>
        <span class="col-8 small txt-browngrey"> <b> ¿Qué tipo de cuenta quieres crear? </b> </span>
    </div>
    <div class="container my-5">
        <div class="row justify-content-around">
            <div class="col-auto">
                <div class="avatar cursor" (click)="isDoctor = false" [ngClass]="{'avatar-selected': !isDoctor}" >
                    <img src="./assets/img/paciente.svg" alt="paciente">
                </div>
                <p class="text-center mt-2"> Paciente </p>
            </div>
            <div class="col-auto">
                <div class="avatar cursor" (click)="isDoctor = true" [ngClass]="{'avatar-selected': isDoctor}" >
                    <img src="./assets/img/doctor.svg" alt="paciente">
                </div>
                <p class="text-center mt-2"> Doctor </p>
            </div>
        </div>
        <div class="m-auto">
            <button class="btn btn-register text-white" (click)="goRegsiter()" > Continuar </button>
        </div>
    </div>
</section>