section{
    width: 100%;
    height: 100vh;
}

.stepper{
    height: 150px;
    background-color: var(--dark-sky-blue);
}

.container, .container > div{
    height: 100%;
}

.form-one{
    width: 50%;
    margin: 50px auto;
}

input, select{
    border-radius: 10px;
    height: 48px;
    border: solid 1px var(--very-light-pink);
}

.btn-container{
    width: 100%;
    text-align: center;
}

.btn-continue{
    width: 290px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--dark-sky-blue);
    color: white;
}

.avatar{
    width: 272px;
    height: 272px;
    border-radius: 180px;
    background-color: var(--white);
    overflow: hidden;

    img{
        width: 100%;
    }
}

.jump{
    width: 100%;
    color: var(--marigold);
    margin: 10px auto;
    text-align: center;
}

.rectangle-avatar{
    width: 350px;
    height: 420px;
    border-radius: 20px;
    background-color: #000000;
    position: relative;
    z-index: -1;
}

.text-avatar{
    position: absolute;
    bottom: 10%;
    color: white;
    padding-left: 20px;
}

.info-rectangle{
    width: 350px;
    height: 255px;
    border-radius: 40px;
    background-color: #ffffff;
    margin-top: -50px;
    z-index: 5;
    padding: 30px;
}