<section>
    <div class="stepper">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-auto">
                    <a class="click"> <img src="./assets/img/btnCerrar.svg" alt="close"> </a>
                </div>
                <div class="col-auto mx-5">
                    <p class="text-white"> <b> Información de registro </b> </p>
                    <p class="text-white"> Registro / Paciente </p>
                </div>
                <div class="col-auto ml-5">
                    <img src="./assets/img/pp1.svg" alt="paciente">
                </div>
            </div>
        </div>
    </div>

    <!-- Step 1 -->
    <div class="container" *ngIf="stepper == 1">
        <h2 class="text-center my-4"> Autentificación de usuario </h2>
        <form class="row form-one">
            <p class="txt-browngrey text-center"> <span class="txt-pastelred">*</span> Campos obligatorio </p>
            <div class="form-group col-12">
                <input type="email" class="form-control" placeholder="* Email">
            </div>
            <div class="form-group col-12">
                <input type="password" class="form-control" placeholder="* Contraseña">
            </div>
            <div class="form-group col-12">
                <input type="password" class="form-control" placeholder="* Confirmar Contraseña">
            </div>
            <div class="form-group col-12">
                <input type="tel" class="form-control" placeholder="* Celular">
            </div>
            <div class="btn-container">
                <button type="submit" class="btn btn-continue" (click)="next()"> Continuar </button>
            </div>
        </form>
    </div>
    <!-- Step 2 -->
    <div class="container" *ngIf="stepper == 2">
        <h2 class="text-center my-4"> INFORMACIÓN DE PERFIL </h2>
        <form class="row form-one">
            <p class="txt-browngrey text-center col-12"> <span class="txt-pastelred">*</span> Campos obligatorio </p>
            <div class="col-12 row m-0 mb-5 justify-content-center">
                <input type="file" class="d-none">
                <div class="avatar cursor">
                    <img src="./assets/img/paciente.svg" alt="paciente">
                </div>
            </div>
            <div class="form-group col-12">
                <input type="text" class="form-control" placeholder="* Nombre">
            </div>
            <div class="form-group col-12">
                <input type="text" class="form-control" placeholder="* Profecion">
            </div>
            <div class="form-group col-6">
                <input type="number" class="form-control" placeholder="* Edad">
            </div>
            <div class="form-group col-6">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>* Sexo</option>
                    <option> Masculino </option>
                    <option> Femenino </option>
                </select>
            </div>
            <div class="form-group col-6">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>* País</option>
                    <option> México </option>
                </select>
            </div>
            <div class="form-group col-6">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>* Tipo de Sangre</option>
                    <option> A </option>
                    <option> A- </option>
                </select>
            </div>
            <div class="form-group col-6">
                <input type="tel" class="form-control" placeholder="* Celular">
            </div>
            <div class="btn-container">
                <button type="submit" class="btn btn-continue" (click)="next()"> Continuar </button>
            </div>
        </form>
    </div>
    <!-- Step 3 -->
    <div class="container" *ngIf="stepper == 3">
        <h2 class="text-center my-4"> INFORMACIÓN DE MÉDICA </h2>
        <mat-divider></mat-divider>
        <p class="jump cursor"> Saltar paso y finalizar </p>
        <mat-divider></mat-divider>
        <div class="row m-0 mt-5">
            <!-- perfil usuario -->
            <div class="col-6">
                <div class="rectangle-avatar">
                    <img width="100%" src="https://cdn.bioguia.com/embed/7a04dc849c8547a21e80d29c48d1d744587bf01524408938/--Frente_o_perfil-_Este_test_de_percepcion_te_dira_como_te_relacionas_con_los_demas?imagick=1&size=500" alt="profile">
                    <div class="text-avatar">
                        <h3> Alejandro Chavez Rodney Gray </h3>
                        <p> 28 años </p>
                    </div>
                </div>
                <div class="info-rectangle">
                    <p> Lic. Diseño </p>
                    <p> Guadalajara, Jalisco, México </p>
                    <p> 480-339-0249 </p>
                    <p> alexchav156@gmail.com </p>
                </div>
            </div>
            <!-- Acordiones -->
            <div class="col-6">
                <mat-accordion>
                    <!-- alergias -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Alergias </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field class="col-12" appearance="outline">
                            <mat-label>Alergias</mat-label>
                            <textarea matInput placeholder="Polvo, Medicamentos, etc ..."></textarea>
                        </mat-form-field>
                    </mat-expansion-panel>
                    <!-- padecimientos -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Antecedentes patológicos </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row m-0">
                            <div class="col-6">
                                <p class="txt-browngrey"> Diabetes </p>
                            </div>
                            <div class="col-6">
                                <mat-slide-toggle></mat-slide-toggle>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-6">
                                <p class="txt-browngrey"> Hipertensión arterial </p>
                            </div>
                            <div class="col-6">
                                <mat-slide-toggle></mat-slide-toggle>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-6">
                                <p class="txt-browngrey"> Cardiopatías </p>
                            </div>
                            <div class="col-6">
                                <mat-slide-toggle></mat-slide-toggle>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-6">
                                <p class="txt-browngrey"> Cáncer </p>
                            </div>
                            <div class="col-6">
                                <mat-slide-toggle></mat-slide-toggle>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- antecedentes -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Antecedentes no patológicos </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row m-0">
                            <div class="col-6">
                                <p class="txt-browngrey"> Actividad física </p>
                            </div>
                            <div class="col-6">
                                <mat-slide-toggle></mat-slide-toggle>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-6">
                                <p class="txt-browngrey"> Tabaquismo </p>
                            </div>
                            <div class="col-6">
                                <mat-slide-toggle></mat-slide-toggle>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-6">
                                <p class="txt-browngrey"> Alcoholismo </p>
                            </div>
                            <div class="col-6">
                                <mat-slide-toggle></mat-slide-toggle>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-6">
                                <p class="txt-browngrey"> Otras sutancias </p>
                            </div>
                            <div class="col-6">
                                <mat-slide-toggle></mat-slide-toggle>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- medicamentos -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Medicamentos activos </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field class="col-12" appearance="outline">
                            <mat-label>Medicamentos activos</mat-label>
                            <textarea matInput placeholder=""></textarea>
                        </mat-form-field>
                    </mat-expansion-panel>
                    <!-- signos -->
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Signos vitales
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <form class="row m-0">
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Altura">
                                <span matSuffix>mts</span>
                            </mat-form-field>
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Peso">
                                <span matSuffix>kg</span>
                            </mat-form-field>
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Masa corporal">
                                <span matSuffix>kg/m2</span>
                            </mat-form-field>
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Temperatura">
                                <span matSuffix>ºC</span>
                            </mat-form-field>
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Frecuencia respiratoria">
                                <span matSuffix>r/min</span>
                            </mat-form-field>
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Sistólica">
                                <span matSuffix>mmHg</span>
                            </mat-form-field>
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Diastólica">
                                <span matSuffix>mmHg</span>
                            </mat-form-field>
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Frecuencia cardiaca">
                                <span matSuffix>lpm</span>
                            </mat-form-field>
                        </form>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>

</section>