/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --dark-sky-blue: #55b6da;
    --light-cyan: #aeeff0;
    --brown-grey: #a8a8a8;
    --cornflower: #5c89ff;
    --very-light-pink: #f2f2f2;
    --white: #fafafa;
    --liliac: #d789ff;
    --sea: #3a9ba5;
    --pale-teal: #77cb93;
    --pastel-red: #db5d5c;
    --salmon: #f67e7c;
    --marigold: #ffba00;
    --greyish-brown: #565656;
  }

$dark-sky-blue:#55b6da;
$greyish-brown:#565656;
$brown-grey: #a8a8a8;
$pastel-red: #db5d5c;

.cursor{
    cursor: pointer;
}

.btn-circle {
    width: 184px;
    height: 40px;
    border-radius: 20px;
}

.fb-bg{
    background-color: #1877f2;
}

.mat-dialog-container{
    padding: 0!important;
}

.main-bg{
    background-color: $dark-sky-blue;
}

.main-color{
    color: $dark-sky-blue;
}

.txt-browngrey{
    color: $brown-grey;
}

.txt-pastelred{
    color: $pastel-red;
}
